span.swiper-pagination-bullet {
    background-color: #e5e5e5;
    width: 13px;
    height: 13px;
    display: block;
    border-radius: 50%;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #000000 !important;
  }
  